body {
margin: 0;
position: relative;
width: 575px;
height: 385px;

background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
 width: 149px;
height: 36px;
left: 85px;
top: 68px;

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
/* identical to box height, or 90% */

text-align: center;

color: #EEEEEE;

}

span {
width: 100px;
height: 12px;
left: 100px;
top: 125px;
background-color: black;
padding-left:115px;

font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 10;
font-size: 85px;
line-height: 117px;


/* or 141% */

text-align: left;

color: #F94F6D;
}


button {
    /* add-points-btns-home */
 width: 50px;
height: 50px;

}
